/*BEGIN PS3 Controller Styling*/
.controller.ps {
    background: url(base-Recovered.png);
    height: 558px;
    width: 784px;
    /*    margin-left: -392px;
        margin-top: -259px;*/
}

.ps .abxy {
    position: absolute;
    width: 204px;
    height: 205px;
    top: 156px;
    left: 538px;
}

.ps .button {
    position: absolute;
    width: 62px;
    height: 62px;
    background: url(face.png);
}

.ps .button.pressed {
    background-position-y: -64px;
    margin-top: 5px;
}

.ps .a {
    background-position: 62px 0;
    top: 142px;
    left: 71px;
}

.ps .b {
    background-position: 125px 0;
    top: 71px;
    right: 0px;
}

.ps .x {
    background-position: 0 0;
    top: 71px;
}

.ps .y {
    background-position: -63px 0;
    left: 71px;
}

.ps .sticks {
    position: absolute;
    width: 364px;
    height: 105px;
    top: 328px;
    left: 210px;
}

.ps .stick {
    position: absolute;
    background: url(sticks.png);
    height: 105px;
    width: 105px;
}

.ps .stick.pressed.left {
    background-position-x: -106px;
}

.ps .stick.pressed.right {
    background-position-x: -211px;
}

.ps .stick.left {
    top: 0;
    left: 0;
}

.ps .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ps .dpad {
    position: absolute;
    width: 140px;
    height: 132px;
    top: 192px;
    left: 74px;
}

.ps .face {
    background: url(dpad.png);
    position: absolute;
}

.ps .face.up, .ps .face.down {
    width: 38px;
    height: 52px;
}

.ps .face.left, .ps .face.right {
    width: 52px;
    height: 38px;
}

.ps .face.up {
    left: 50px;
    top: 0;
    background-position: 92px 0px;
}

.ps .face.down {
    left: 50px;
    top: 79px;
    background-position: 131px 0;
}

.ps .face.left {
    top: 47px;
    left: 0;
    background-position: 0px 0;
}

.ps .face.right {
    top: 47px;
    right: 0px;
    background-position: 53px 0;
}

.ps .face.pressed {
    margin-top: 5px;
    background-position-y: 52px;
}

.ps.half {
    margin-top: -279px;
}

/*END PS3 Controller Styling*/
